@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes neon-glow-purple {
  0%, 100% {
    box-shadow: 0 0 10px rgba(128, 0, 255, 0.7), 0 0 20px rgba(128, 0, 255, 0.5);
  }
  50% {
    box-shadow: 0 0 20px rgba(255, 0, 255, 0.8), 0 0 30px rgba(255, 0, 255, 0.6);
  }
}

@keyframes neon-glow-green {
  0%, 100% {
    box-shadow: 0 0 10px rgba(0, 255, 128, 0.7), 0 0 20px rgba(0, 255, 128, 0.5);
  }
  50% {
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.8), 0 0 30px rgba(0, 255, 255, 0.6);
  }
}

@keyframes neon-glow-orange {
  0%, 100% {
    box-shadow: 0 0 10px rgba(255, 128, 0, 0.7), 0 0 20px rgba(255, 128, 0, 0.5);
  }
  50% {
    box-shadow: 0 0 20px rgba(255, 255, 0, 0.8), 0 0 30px rgba(255, 255, 0, 0.6);
  }
}

@keyframes neon-glow-pink {
  0%, 100% {
    box-shadow: 0 0 10px rgba(255, 0, 128, 0.7), 0 0 20px rgba(255, 0, 128, 0.5);
  }
  50% {
    box-shadow: 0 0 20px rgba(255, 102, 204, 0.8), 0 0 30px rgba(255, 102, 204, 0.6);
  }
}

@keyframes neon-glow-blue {
  0%, 100% {
    box-shadow: 0 0 10px rgba(0, 128, 255, 0.7), 0 0 20px rgba(0, 128, 255, 0.5);
  }
  50% {
    box-shadow: 0 0 20px rgba(102, 204, 255, 0.8), 0 0 30px rgba(102, 204, 255, 0.6);
  }
}

@keyframes neon-glow-lime {
  0%, 100% {
    box-shadow: 0 0 10px rgba(128, 255, 0, 0.7), 0 0 20px rgba(128, 255, 0, 0.5);
  }
  50% {
    box-shadow: 0 0 20px rgba(204, 255, 102, 0.8), 0 0 30px rgba(204, 255, 102, 0.6);
  }
}

/* Add more keyframes for each card if needed */
/* Particle Styles */
.particle {
  position: absolute;
  background: radial-gradient(circle, rgb(0, 255, 0), rgb(0, 255, 0));
  border-radius: 20%;
  pointer-events: none;
  animation: particle-move 1.5s ease-out forwards, particle-fade 0.5s ease-out forwards;
}

/* Movement Animation */
@keyframes particle-move {
  0% {
    transform: translate(0, 0) scale(0.5);
  }
  100% {
    transform: translate(calc(var(--x-offset, 0px) * 0.5px), calc(var(--y-offset, 0px) * 1px)) scale(0.5);
  }
}

/* Fade Animation */
@keyframes particle-fade {
  0% {
    opacity: .5;
  }
  100% {
    opacity: 0;
  }
}